* {
  box-sizing: border-box;
  font-family: Lato, Times, serif;
}

header {
  display: flex;
  flex-direction: column;
  align-self: center;
}

h1 {
  color: skyblue;
  font-family: Monaco, sans serif;
  align-self: center;
}

nav {
  align-self: center;
}

img {
  height: 15rem;
  width: 15rem;
  margin: 20px;
  border-radius: 1000px;
  align-self: center;
}

.button {
  text-decoration: none;
  padding: 8px;
  color: skyblue;
  background-color: aliceblue;
  border: 0 solid;
  border-radius: 10px;
  align-self: center;
}

.schoenebox {
  padding: 20px;
  margin: 10px;
  color: royalblue;
  background-color: skyblue;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  text-decoration: none;
}

.contact {
  padding: 8px;
  margin: 2px;
  text-decoration: none;
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
