* {
  box-sizing: border-box;
}

header {
  display: flex;
  flex-direction: column;
  align-self: center;
}

h1 {
  color: skyblue;
  font-family: Monaco;
  align-self: center;
}

nav {
  align-self: center;
}

img {
  height: 15rem;
  width: 15rem;
  margin: 20px;
  border-radius: 1000px;
  align-self: center;
}

.button {
  text-decoration: none;
  padding: 8px;
  margin: 20px;
  color: skyblue;
  background-color: aliceblue;
  border: 0 solid;
  border-radius: 10px;
  align-self: center;
}

.schoenebox {
  padding: 2px;
  margin: 10px;
  color: royalblue;
  background-color: lightskyblue;
  border: 2px solid cornflowerblue;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}
